.menu-button__open,
.menu-button__close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-function),
    fill var(--transition-duration) var(--transition-function);

  &:hover,
  &:focus {
    color: var(--blue);
    .menu-button__icon--close,
    .menu-button__icon--open {
      fill: var(--blue);
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button__close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  // max-width: 480px;
  height: 100vh;
  padding: 48px 40px;

  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  transform: translateY(-100%) translateX(100%);
  transition: transform var(--transition-duration) var(--transition-function);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.burger-nav {
  &__item {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    @media screen and (min-width: $mobile) {
      font-size: 36px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.burger-nav__link {
  color: var(--black);

  transition: color var(--transition-duration) var(--transition-function);

  &--active {
    color: var(--blue);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--blue);
  }
}

.burger-contact {
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.burger-contact__phone {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--blue);
  @media screen and (min-width: $mobile) {
    font-size: 34px;
  }
}

.burger-contact__mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--gray);
  @media screen and (min-width: $mobile) {
    font-size: 24px;
  }
}

.burger-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.22;
    letter-spacing: 0.01em;
    color: var(--blue);
    @media screen and (min-width: $mobile) {
      font-size: 18px;
      letter-spacing: 0.02em;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
