.mail-subscription {
  @media (min-width: $tablet) and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.form {
  &__label {
    display: block;
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }

  &__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--white);
    background: var(--dark-gray);
    padding-left: 16px;

    transition: border-color var(--transition-duration)
      var(--transition-function);

    &:focus {
      border-color: var(--blue);
      outline: none;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
    @media screen and (min-width: $mobile) {
      width: 450px;
    }
    @media screen and (min-width: $desktop) {
      width: 358px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      display: block;
    }
  }

  &__btn {
    display: inline-flex;
    margin: 0 auto;
    padding: 10px 28px 10px 29px;
    margin-left: 12px;
    align-items: center;
    text-align: center;
    min-width: 200px;
    background-color: var(--blue);
    border-style: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: var(--main-font);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color var(--transition-duration)
      var(--transition-function);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: #188ce8;
      color: var(--white);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    @media screen and (max-width: 1199px) {
      margin-top: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 12px;
    }
  }
}

.form__subs-icon {
  margin-left: 10px;
}
