.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  // max-width: 450px;
  height: 96vh;
  max-height: 610px;
  overflow: auto;
  background-color: #ffffff;
  padding: 40px;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    min-height: 609px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;

    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }

  &__close:hover,
  &__close:focus {
    color: var(--blue);
  }

  &__title {
    display: inline-block;
    padding-bottom: 12px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
  }

  &__form-label {
    padding-bottom: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--gray);
    left: 40px;
  }

  &__form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    transition: border-color var(--transition-duration)
      var(--transition-function);

    &:focus {
      border: 1px solid var(--blue);
      outline: none;
    }
  }

  &__form-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    fill: currentColor;
    color: var(--black);

    transition: fill var(--transition-duration) var(--transition-function);
  }

  &__form-input:focus + &__form-icon {
    fill: var(--blue);
  }

  &__comment {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-duration)
      var(--transition-function);
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
      border: 1px solid var(--blue);
      outline: none;
    }
  }

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
  }

  &__form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    margin-bottom: 30px;
    font-family: var(--main-font);
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      font-size: 12px;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:focus + .checkbox-icon {
      border: 2px solid var(--blue);
      border-radius: 2px;
    }
  }
}

.close-icon {
  fill: currentColor;
}

.checkbox-icon {
  display: inline-block;
  border: 2px solid var(--black);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;

  transition: background-color var(--transition-duration)
      var(--transition-function),
    border-color var(--transition-duration) var(--transition-function),
    transform var(--transition-duration) var(--transition-function);
}

.modal__checkbox:checked + .checkbox-icon {
  transform: scale(1.1);
  border-color: var(--blue);
  background-color: var(--blue);
  background-size: contain;
  background-origin: border-box;
}

.agreement-link {
  color: var(--blue);
}

.agr-btn {
  display: flex;
  margin: 0 auto;
  padding: 10px 55px;
  align-items: center;
  text-align: center;
  min-width: 200px;
  background-color: var(--blue);
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: var(--main-font);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-duration)
    var(--transition-function);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #188ce8;
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
