.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__btn-item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    background: var(--whitesmoke);
    box-shadow: 0px 4px 4px #00000026;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--black);

    transition: color var(--transition-duration) var(--transition-function),
      background-color var(--transition-duration) var(--transition-function),
      box-shadow var(--transition-duration) var(--transition-function);
  }

  &__btn:hover,
  &__btn:focus {
    color: var(--white);
    background: var(--blue);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__list-items {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow var(--transition-duration) var(--transition-function);
  }

  &__item-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__item {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 4px;

    letter-spacing: 0.06em;

    color: var(--black);
  }

  &__item-description {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.03em;

    color: var(--gray);
  }

  &__list-items:hover,
  &__list-items:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__list-link:hover .overlay-text,
  &__list-link:focus .overlay-text {
    transform: translateY(-100%);
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.overlay-text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transition: opacity var(--transition-duration) var(--transition-function),
    transform var(--transition-duration) var(--transition-function);
}
