h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

textarea {
  resize: none;
}
